<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link
      rel="stylesheet"
      href="$assetsDir/styles/salesforce-lightning-design-system.min.css"
    />
    <link rel="stylesheet" href="$assetsDir/styles/slds-overrides.css" />
    <link rel="shortcut icon" href="$assetsDir/images/favicon.ico" />
    <!-- Primary Meta Tags -->
    <meta itemprop="name" content="Max Goldfarb" />
    <meta itemprop="title" content="Max Goldfarb" />
    <meta
      name="image"
      property="og:image"
      content="https://www.goldfarb.dev/assets/images/meta.png"
    />
    <meta
      name="description"
      content="Max Goldfarb's personal website. This website was developed using Lighting Web Runtime (LWC OSS) on Node.js and Salesforce Lightning Design System (SLDS). Max Goldfarb is a Software Engineer in the Greater Boston area."
    />
    <meta name="author" content="Max Goldfarb" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.goldfarb.dev/" />
    <meta property="og:title" content="Max Goldfarb" />
    <meta
      property="og:description"
      content="Max Goldfarb's personal website. This website was developed using Lighting Web Runtime (LWC OSS) on Node.js and Salesforce Lightning Design System (SLDS). Max Goldfarb is a Software Engineer in the Greater Boston area."
    />
    <meta
      property="og:image"
      content="https://www.goldfarb.dev/assets/images/meta.png"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.goldfarb.dev/" />
    <meta property="twitter:title" content="Max Goldfarb" />
    <meta
      property="twitter:description"
      content="Max Goldfarb's personal website. This website was developed using Lighting Web Runtime (LWC OSS) on Node.js and Salesforce Lightning Design System (SLDS). Max Goldfarb is a Software Engineer in the Greater Boston area."
    />
    <meta
      property="twitter:image"
      content="https://www.goldfarb.dev/assets/images/meta.png"
    />
    <!-- End of Metadata & CSS -->
    <title>Max Goldfarb</title>
  </head>
  <body class="wrapper">
    {{{body}}}
  </body>
  {{{lwr_resources}}}
</html>
